html, body {
    font-size: 12px;
    scroll-behavior: smooth;
    font-family: 'Gothic A1', sans-serif;
}

#wrap {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    box-sizing: border-box;
    /* background-color: gray; */
    /* padding-top: 50px; */
}

.inner {
    width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sub-hd {
    font-size: 2.8rem;
    font-weight:700;
    text-align: center;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    max-width: 2560px;
    padding: 30px 0;
    z-index: 999;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 250px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li:not(:last-child) {
    margin-right: 50px;
}
.nav-list a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

#banner {
    width: 100%;
    background-image: url(../images/bg_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

.slogan-txt-box {
    margin-top: 100px;
}

.slogan-txt-box p {
    font-size: 3.8rem;
    line-height: 1.3em;
    font-weight: 600;
    color: white;
}

.btn-google {
    margin-top: 50px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 12px 20px;
    border:none;
    border-radius: 3px;
    background: #00bff3;
    cursor: pointer;
}

.slogan-img {
    width: 45%;
}

.ws-info-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 170px 0 100px;
}

.ws-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width:350px;
    height:300px;
    box-sizing: border-box;
    padding-top: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 8px 1px 1px rgba(0,0,0,0.3);
}

.info-hl {
    font-size: 1.3rem;
    font-weight: 600;
    color: #777;
    margin-top: 30px;
}

.info-value {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
}

/* about us */
#about {
    box-sizing: border-box;
    width: 100%;
    height:868px;
    background-image:url(../images/bg_aboutus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-inner {
    padding-top: 140px;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding-left: 200px;
}

.about-img {
    width: 30%;
}

.about-story {
    font-size: 1.5rem;
    line-height: 1.3em;
    font-weight: 600;
    margin-left: 150px;
    color: #333;
}

.about-story span {
    display: block;
    text-align: right;
    margin-top: 50px;
}

/* talent */

#talent {
    width: 100%;
    background: #fff;
}

.talent-inner {
    padding:180px 0 90px;
}

.talent-box-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0 90px;
}

.talent-box {
    width: 230px;
    height: 280px;
    padding: 80px 50px;
    border : 1px solid #eee;
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 3px 1px 1px #eee;
}

.talent-box > img {
    width: 100px;
}

.talent-hl {
    text-align: center;
    margin-top:28px;
    color: #333;
    font-size: 1.8rem;
    font-weight: 600;
}

.talent-text {
    text-align: center;
    color: #555;
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 600;
    margin-top: 50px;
}

/* history */

#history {
    width: 100%;
    padding: 120px 200px 80px;
    box-sizing: border-box;
    /* background-color: #ecebf9; */
    background-color: #f5f5f9;
}

.history-inner {
    width: 100%;
    overflow-x: hidden;
}

.history-chart-box {
    width: 4000px;
    position: relative;
    display: flex;
    margin-top: 130px;
}

.history-line {
    width: 100%;
    height: 4px;
    top: 35px;
    position: absolute;
    background: #8f00f8;
}

.history-content {
    width: 10.7%;
    position: relative;
    box-sizing: border-box;
    height: auto;
    text-align: center;
}

.history-content::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 28px;
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 3px solid #9d76ed;
    background-color: #fff;
}

.history-year {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 55px;
}

.history-sub-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.history-text {
    width: 65%;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.history-nav-box {
    text-align: center;
    margin-top: 100px;
    /* display: flex; */
}

.history-nav-box img {
    width: 30px;
    cursor: pointer;
}

.history-nav-box img:last-child {
    margin-left: 20px;
}


/* tech */

#tech {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.tech-inner {
    padding: 180px 0 150px;
    box-sizing: border-box;
}

.tech-list-box {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr repeat(4, 240px) 1fr;
    grid-column-gap: 35px;
    grid-template-rows: auto;
}

.bus-icon {
    grid-column: 2;
    grid-row: 1;
}

.money-icon {
    grid-column: 3;
    grid-row: 1;
}

.game-icon {
    grid-column: 4;
    grid-row: 1;
}

.lottery-icon {
    grid-column: 5;
    grid-row: 1;
}

.tech-list-box {
    margin:100px 0;
}

.tech-list-box>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6300ea;
    border-radius: 15px;
    padding: 50px 0;
    box-shadow: 0px 4px 6px 4px rgba(0,0,0,0.09);
}

.tech-value {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

/* news */

#news {
    width: 100%;
}

.news-inner {
    box-sizing: border-box;
    padding: 150px 220px;
}

.news-box {
    margin-top: 70px;
}

.news-box > div:nth-of-type(1) {
    border-top:1px solid #f5f2f8;
}

.news-list {
    display: block;
    border-bottom: 1px solid #f5f2f8;
    padding: 20px 55px;
    font-size: 1.5rem;
    color: #666;
    font-weight: 600;
}

.news-list span {
    display: block;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    background-image: url('../images/news_more.png');
    background-repeat: no-repeat;
    background-position: right center;
}




/* footer */
#ft {
    width: 100%;
    background: #ebe5f2;
}

.ft-inner {
    padding: 50px 0;
}

.ft-top {
    font-size: 1.3rem;
    line-height: 1.8em;
    color: #555;
    margin: 35px 0 15px;
}

.ft-top span {
    display: block;
}

.ft-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-cp {
    font-size:1.2rem;
    color: #777;
}

.friendly-partnership {
    display: flex;
    align-items: center;
    justify-content: center;
}

.friendly-partnership img {
    width: 110px;
}

.friendly-partnership a:not(:last-child) {
    margin-right: 35px;
} 


@media screen and (max-width:1560px) {

    html, body {
        font-size: 11px;
    }
    
    .inner {
        width: 100%;
        margin: 0 auto;
        padding-left:30px;
        padding-right:30px;
    }
}

@media screen and (max-width:1000px) {

    html, body {
        font-size: 10px;
    }

    .nav-list {
        display: none;
    }

    .slogan-box {
        padding-top: 0px;
    }

    .slogan-img {
        margin-top: 0px;
    }
}

@media screen and (max-width:740px) {

    .slogan-box {
        justify-content: center;
    }

    .slogan-img {
        display: none;
    }
}