html, body {
    font-size: 12px;
    scroll-behavior: smooth;
}

#wrap {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    /* background-color: gray; */
    /* padding-top: 50px; */
}

.inner {
    width: 1500px;
    margin: 0 auto;
}

.sub-hd {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    max-width: 2560px;
    padding: 20px 0;
    z-index: 999;
    /* background-color: #7a00f1; */
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 250px;
}

.nav-list {
    display: flex;
    padding-top: 5px;
    align-items: center;
}

.nav-list li:not(:last-child) {
    margin-right: 50px;
}
.nav-list a {
    font-size: 1.5rem;
    color: #fff;
}

#banner {
    width: 100%;
    /* height:1592px; */
    padding-top: 100px;
    background-image: url(../images/bg_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan-txt-box {
    margin-top: 150px;
}

.slogan-txt-box p {
    font-size: 3.8rem;
    line-height: 1.3em;
    color: white;
}

.btn-google {
    margin-top: 50px;
    color: white;
    font-size: 1.5rem;
    padding: 12px 20px;
    border:none;
    border-radius: 3px;
    background: #00bff3;
    cursor: pointer;
}

.slogan-img {
    width: 55%;
}

.ws-info-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 0 85px;
}

.ws-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width:390px;
    height:310px;
    box-sizing: border-box;
    padding-top: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 3px 8px 1px 1px rgba(0,0,0,0.3);
}

.info-hl {
    font-size: 1.3rem;
    color: #777;
    margin-top: 30px;
}

.info-value {
    font-size: 2rem;
    margin-top: 20px;
}

/* about us */
#about {
    box-sizing: border-box;
    width: 100%;
    height:868px;
    background-image:url(../images/aa.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-inner {
    padding-top: 140px;
}

.about-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}

.about-story {
    font-size: 1.5rem;
    line-height: 1.3em;
    color: #333;
}

.about-story span {
    display: block;
    margin-top: 50px;
}

/* talent */

#talent {
    width: 100%;
    background: #f4f0f8;
}

.talent-inner {
    padding:150px 0 110px;
}

.talent-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0 90px;
}

.talent-word {
    text-align: center;
    margin-top:28px;
    color: #555;
    font-size: 1.8rem;
    font-weight: bold;
}

.discover-talent {
    text-align: center;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.3em;
}

/* history */

#history {
    width: 100%;
    padding: 150px 50px;
    box-sizing: border-box;
    background: linear-gradient(-46deg, #3600dc, #8e00f8 95%);
}

.history-inner {
    width: 100%;
}

.history-inner > .sub-hd {
    color: white;
}

.history-img {
    width: 100%;
    margin-top: 100px;
}

/* tech */

#tech {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.tech-inner {
    padding: 175px 0 150px;
    box-sizing: border-box;
}

.tech-list-box {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr repeat(4, 240px) 1fr;
    grid-column-gap: 35px;
    grid-template-rows: auto;
}

.bus-icon {
    grid-column: 2;
    grid-row: 1;
}

.money-icon {
    grid-column: 3;
    grid-row: 1;
}

.game-icon {
    grid-column: 4;
    grid-row: 1;
}

.lottery-icon {
    grid-column: 5;
    grid-row: 1;
}

.tech-list-box {
    margin:100px 0 120px;
}

.tech-list-box>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6300ea;
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0px 4px 6px 4px rgba(0,0,0,0.09);
}

.tech-value {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

/* news */

#news {
    width: 100%;
}

.news-inner {
    box-sizing: border-box;
    padding: 150px 220px;
}

.news-box {
    margin-top: 70px;
}

.news-box div:nth-of-type(1) {
    border-top:1px solid #f5f2f8;
}
.news-list {
    display: block;
    border-bottom: 1px solid #f5f2f8;
    padding: 20px 55px;
    font-size: 1.5rem;
    color: #777;
    font-weight: bold;
}

.news-list span {
    display: block;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    background-image: url('../images/news_more.png');
    background-repeat: no-repeat;
    background-position: right center;
}




/* footer */
#ft {
    width: 100%;
    background: #ebe5f2;
}

.ft-inner {
    padding: 50px 0;
}

.ft-top {
    font-size: 1.3rem;
    line-height: 1.5em;
    color: #555;
    margin: 35px 0 15px;
}

.ft-top span {
    display: block;
}

.ft-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-cp {
    font-size:1.2rem;
    color: #777;
}

.friendly-partnership {
    display: flex;
    align-items: center;
    justify-content: center;
}

.friendly-partnership img {
    width: 110px;
}

.friendly-partnership a:not(:last-child) {
    margin-right: 35px;
} 


@media screen and (max-width:1500px) {
    .inner {
        width: 100%;
        margin: 0 auto;
    }
}